#footer {
  background-color: #3e424b;
  width: 100%;
  height: auto;
  padding: 20px 30px;
}

#footer-wrapper {
  max-width: 1000px;
  background-color: #3e424b;
  margin: 0 auto;
}

/* generic stylings for all footer columns */
#footer-left, #footer-center, #footer-right {
  width: 33.333%;
  height: 100%;
  background-color: #3e424b;
}
#footer-left { float: left; }
#footer-center { display: inline-block; }
#footer-right { float: right; }

/* left footer */
#footer-mukti-logo {
  height: 52px;
  width: 100px;
}
#footer-left ul {
  font-size: 0.75em;
  background-color: #3e424b;
  padding-left: 0px;
  margin-top: 5px;
}
#footer-left li {
  display: inline;
  background-color: #3e424b;
}
#footer-left a {
  font-family: 'Open Sans', sans-serif;
  background-color: #3e424b;
  color: #fff9f5;
  text-decoration: none;
  font-size: 0.9em;
}
#footer-left p {
  font-size: 0.7em;
  margin-top: 10px;
  background-color: #3e424b;
  color: #989eaa;
}
.list-pipe-seperator > li:not(:last-child)::after {
  content: "|";
  margin-left: 0.25em;
  color: #fff9f5;
}

/* center footer */
#footer-center {
  padding-left: 20px;
  display: inline-block;
}

.center-footer-panel {
  background-color: #3e424b;
  margin-bottom: 15px;
  float: left;
  width: 100%
}

.icon-container {
  background-color: dimgray;
  display: inline-block;
  border-radius: 50px;
  padding: 5px;
  width: 30px;
  height: 30px;
  float: left;
}

.icon-container i {
  background-color: dimgray;
  color: lightgray;
  font-size: 1.3em;
  margin-left: 4.52px;
  margin-top: 1px;
}

.center-footer-panel-content {
  display: inline-block;
  float: left;
  width: calc(100% - 40px);
  margin-left: 10px;
  background: #3e424b;
}

.center-footer-panel-content p {
  color: white;
  background: #3e424b;
  font-size: 0.7em;
}

#footer-phone-icon {
  margin-left: 2.5px;
}

#footer-phone-number {
  padding-top: 7px;
}

#footer-envelope-icon {
  margin-left: 1.5px;
  margin-top: 1.5px;
  font-size: 1.1em;
}

#footer-email-link {
  display: block;
  text-decoration: none;
  background-color: #3e424b;
  color: #e88e36;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.7em;
  margin-top: 7px;
}

#last-panel {
  margin-bottom: 0px;
}

/* right footer */
#footer-right {
  padding-left: 20px;
}

#about-mukti {
  background-color: #3e424b;
  color: white;
  font-size: 0.9em;
}

#about-mukti-para {
  background-color: #3e424b;
  color: lightgray;
  font-size: 0.70em;
  margin-top: 5px;
}

.credit {
  background-color: #3e424b;
  color: #989eaa;
  font-size: 0.7em;
  margin-top: 15px;
}

.credit a {
  font-family: 'Open Sans', sans-serif;
  background-color: #3e424b;
  color: #989eaa;
}

/* collapse footer */
@media screen and (max-width: 599px) {
  #footer-left, #footer-center, #footer-right {
    float: none;
    width: 100%;
    display: inline-block;
  }
  #footer-center, #footer-right {
    padding-left: 0px;
    margin-top: 25px;
  }
}
