/* header css */

#header {
  background-color: #fbe3ca;
  width: 100%;
  height: 90px;

  font-size: 0.9em;
  text-transform: uppercase;
}

#logo {
  /* vertically center */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  margin-left: 40px;
  height: 60px;
  width: 60px;
  background-color: #90cfff;
  float: left;
}

/* bars css */
#bars {
  display: none;
  position: absolute;
  top: 16px;
  right: 15px;
  font-size: 3em;
  background-color: #fbe3ca;
}

#bars i {
  background-color: #fbe3ca;
  color: #f7c796;
  transition: color 0.1s;
}

#bars i:hover {
  background-color: #fbe3ca;
  color: #e88e38;
}

/* navbar css */

#navbar {
  /* vertically center */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  
  float: left;
  margin-left: 15px;
  margin-right: 25px;
  width: calc(100% - 145px);
}

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fbe3ca;
}

#navbar li {
  float: left;
  margin-top: 6px;
}

#navbar a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 30px;
  text-decoration: none;
  background-color: #fbe3ca; 
}

#navbar a:hover {
  background-color: #f7c796;
  color: #e88e38;
}

#getInvolved {
  float: right !important;
  margin-top: 3px !important;
}
#getInvolved a {
  color: #e88e38;
  font-size: 1.3em;
}


/* update navbar together as screen resizes*/
@media screen and (max-width: 1041px) {
  #navbar {
    margin-right: 5px;
    width: calc(100% - 125px);
  }
  #navbar a {
    padding: 14px 16px;
  }
}
@media screen and (max-width: 853px) {
  #home {
    display: none
  }
}
@media screen and (max-width: 788px) {
  #navbar {
    margin-right: 5px;
    width: calc(100% - 125px);
  }
  #navbar a {
    padding: 14px 12px;
  }
  #logo {
    margin-left: 25px;
  }
}
@media screen and (max-width: 738px) {
  #header {
    font-size: 0.85em;
    height: 80px;
  }
  #navbar {
    margin-left: 5px;
    margin-right: 0px;
    width: calc(100% - 110px);
  }
  #navbar a {
    padding: 14px 7px;
  }
  #logo {
    margin-left: 15px;
  }
}
@media screen and (max-width: 646px) {
  #header {
    font-size: 0.75em;
    height: 72px;
  }
}
/* collapse header */
@media screen and (max-width: 599px) {
  #navbar li {
    float: none;
    width: 100%;
    margin-top: 0px;
  }
  #navbar a {
    text-align: left;
    padding-left: 20px;
  }
  #navbar {
    position: absolute;
    top: 72px;
    transform: translateY(0%);
    margin-left: 0px;
    width: 100%;
    display: none;
  }
  #home {
    display: block;
  }
}